<div class="products mx-3 my-3 px-10">
    <div
        *ngIf="products.length" 
        class="row p-2 grey300 sticky-top visibility {{ currentTheme }}">
        <div class="col-md-2 d-flex flex-row">
            <!-- <button mat-flat-button color="primary"> <mat-icon>filter_list</mat-icon> Filtros</button> -->
            <button 
                mat-flat-button 
                color="primary" 
                (click)="tiledView = !tiledView"
                class="button-header">
                <ng-template [ngIf]="tiledView" [ngIfElse]="tiled">
                    <div class="a d-flex align-items-center justify-content-center">
                        <mat-icon class="mr-1">view_list</mat-icon> <span>Lista</span>
                    </div>
                </ng-template>
                <ng-template #tiled>
                    <div class="a d-flex align-items-center justify-content-center">
                        <mat-icon class="mr-1">view_module</mat-icon> <span>Mosaico</span>
                    </div>
                </ng-template>
            </button>
        </div>
        <div class="col-md-5 offset-md-5 d-flex align-items-center">
            <app-pagination 
                (currentPage)="currentPage = $event" 
                (itemsPerPage)="itemsPerPage = $event">
            </app-pagination>
        </div>
    </div>
    
    <app-skeleton-placeholder-text-predict *ngIf="showSuggestedTextTermPlaceholder"></app-skeleton-placeholder-text-predict>

    <div *ngIf="showSuggestedTextTerm" class="row">
        <div class="col d-flex justify-content-center">
            <div class="col-md-10">
                <div class="did-you-mean alert alert-primary mb-0 mt-4 d-flex justify-content-center">
                    <p class="m-0 suggested">
                        No encontramos resultados con "<strong>{{searchName | uppercase}}</strong>". 
                        ¿Usted quiso decir 
                        <strong 
                            color="primary"
                            (click)="searchSuggestedTerm(suggestedTextTerm)"
                            class="hand-cursor">
                            {{suggestedTextTerm | uppercase}}
                        </strong>
                        ?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="products.length">
        <ng-template [ngIf]="tiledView" [ngIfElse]="tiledview">
            <div class="col">
                <tiled-view 
                    (onOpenDetails)="openDetails($event)" 
                    (onAddToCart)="addToCart($event)" 
                    (onLocateProduct)="locateProduct($event)" 
                    (onReportNegate)="reportNegate($event)" 
                    [products]="products | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                </tiled-view>
                </div>
            </ng-template>
        <ng-template #tiledview>
            <list-view 
                (onOpenDetails)="openDetails($event)" 
                (onAddToCart)="addToCart($event)" 
                (onLocateProduct)="locateProduct($event)" 
                (onReportNegate)="reportNegate($event)" 
                [products]="products | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
            </list-view>
        </ng-template>
    </div>
    <div class="row my-5 py-5" *ngIf="!products.length">
        <img class="d-block mx-auto" src="assets/img/no-results.png" alt="Sin Resultados">
    </div>
    <div style="height: 15vh;" *ngIf="!products.length"></div>
</div>