.title{
  font-size: 24px !important;
  font-weight: 500;
}
.subtitle{
  font-size: 12px !important;
}
.finish-later{
  font-weight: 600;
  color: #1A75CF;
  cursor: pointer;
}
.finish-later.button{
  width: 14px;
  height: 14px;
}
.back-button{
  width: 2.5rem !important;
}
 .progress-img{
  width: 450px;
}
.field-input{
  font-size: 12px;
}
