<div class="pl-2 pr-2">
    <img
        class="mt-4 mb-4" 
        src="assets/img/institutional-recipe/axa/axa-logo.png">
    <div class="row mt-2 mb-2">
        <div class="col-md-2">
            <p color="primary">COBERTURA</p>
        </div>
        <div class="col-md-10">
            Nivel nacional, Banobras (solo farmacias foráneas).
        </div>
    </div>
    
    <div class="row mt-2 mb-2">
        <div class="col-md-2">
            <p color="primary">SUBCLIENTES</p>
        </div>
        <div class="col-md-10">
            <strong>
                Santander, HSBC, Condusef y Banobras
            </strong>
        </div>
    </div>
    
    <div class="row mt-2 mb-2">
        <div class="col-md-2">
            <p color="primary">
                CREDENCIAL:
            </p>
        </div>
        <div class="col-md-10">
            Credencial original del derechohabiente donde acredite que es de la institución.
        </div>
    </div>
    
    <div class="row mt-2 mb-2">
        <div class="col-md-2">
            <p color="primary">
                RECETA:
            </p>
        </div>
        <div class="col-md-10">
            <p class="m-1">
                - <strong>AXA</strong> Assitance (formato A y formato B) logotipo Axa Assitance lado sup. izquierdo y logo
                subinstitución lado
                sup.derecho, nuevo formato electrónico.
            </p>
            <p class="m-1">
                - <strong>CONDUSEF</strong> se recibe las recetas con holograma o sin holograma de autenticidad.
            </p>
            <p class="m-1">
                - <strong>Banobras</strong> todos los servicios que se realicen deberán registrarse únicamente en formatos
                color morado.
            </p>
        </div>
    </div>
    
    <div class="row mt-2 mb-2">
        <div class="col-md-2">
            <p color="primary">
                VIGENCIA:
            </p>
        </div>
        <div class="col-md-10">
            <p>
                <strong>
                    7 días naturales después de expedida, excepto Banobras y Santander son 10 días naturales después de
                    expedida.
                </strong>
            </p>
        </div>
    </div>
    
    <div class="row mt-2 mb-2">
        <div class="col-md-2">
            <p color="primary">
                LECHES:
            </p>
        </div>
        <div class="col-md-10">
            <p>
                El surtido para Santander es abierto (no hay cuadro Básico) para los demás solicitar autorización.
            </p>
        </div>
    </div>
    
    <div class="row mt-2 mb-2">
        <div class="col-md-2">
            <p color="primary">
                RESTRICCIONES:
            </p>
        </div>
        <div class="col-md-10">
            <p>- Validar nombre y número de nómina contra credencial.</p>
            <p>- No se debe recibir la receta con enmendaduras, tachaduras, tintas de color distintas o que carezca de
            diagnósticoco (Código ICD).</p>
            <p>- Solicitar la credencial original.</p>
            <p>- La receta debe de coincidir con la identiﬁcación oﬁcial y la credencial del DHB.</p>
            <p>- Obtener una copia únicamente de la credencial de la institución bancaria.</p>
            <p>
                - La ﬁrma del paciente debe coincidir con las credenciales.
                Datos del médico (nombre completo, clave alfanumérica de 5 dígitos y ﬁrma).
                Revisar Los Catálogos Autorizados y No Autorizados están en Carpetas Públicas
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <p color="primary">
                Montos para solicitar autorización especial de 3 digitos:
            </p>
        </div>
        <div class="col-md-10">
            <p> - Cuando exceda la cantidad autorizada por cada cliente por total de montos</p>
            <p>- Piezas de médicamento</p>
            <p>- Cuando lo requiera el sistema</p>
        </div>
    </div>

    <div class="row d-flex flex-column align-items-end mt-3">
        <div class="col-md-12">
            <div class="alert alert-warning d-flex flex-row" role="alert">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <mat-icon class="rotate-90">info</mat-icon>
                </div>
                <div class="col-md-11 pr-0 info">
                    NOTA: Si el CAT no proporiciona el número por no estar autorizado el producto, canalizar al derechoambiente con su
                    médico para que cambie la receta.
                </div>
            </div>
        </div>
    </div>
    
    <!-- div.row>div.col-md-2
        div.col-md-10
    
    div.row>div.col-md-2
        div.col-md-10 -->
</div>