.institutional-recipe-table{
    .title-table{
        background-color: #DBEBFA;
        color: black;
    }
    td {
        vertical-align: middle;
    }
    .button{
        width: 94px;
        height: 40px;
    }
}