.title{
  font-size: 16px;
  font-weight: 600;
}
.back-button{
  width: 2.5rem !important;
}
.field-input{
  font-size: 12px;
  width: 457px !important;
}
.confirm-delete{
  width: 457px;
}
.validate-btn{
  width: 129px !important;
}
.text{
  font-size: 12px;
}
.text.data{
  font-weight: bold;
}
.alert-banner, .alert-banner > span {
  width: 553px;
  color: black;
  font-size: 12px;
}
.alert-banner > mat-icon{
  color: #D02326;
}