.recipe-details-controls{
    .change-option{
        height: 450px;
    }
    .btn.control{
        height: 40px;
        width: 320px;
    }
    .btn.content{
        height: 50px;
    }

    .is-disabled{
        color: white !important;
    }
    .ic_material{
        font-size: 18px;
    }
}