<div class="pl-2 pr-2">
    <img class="mt-4 mb-4" src="assets/img/institutional-recipe/axa/axa-logo.png">
    <div class="row">
        <div class="col-md-12">
            <img class="mt-2 mb-2 img-fluid" src="assets/img/institutional-recipe/axa/customer-coverage-1.png">
            <p color="primary">Números de contacto para solicitar autorización especial de farmacias (3 dígitos)</p>
            <p>Para autorización Especial de 3 Dígitos cuando exceda la cantidad autorizada por cada cliente tanto en total de montos,
            piezas establecidas o cuando lo requiera su sistema.</p>
        </div>
    </div>
</div>