<div class="pl-2 pr-2">
    <img class="mt-4 mb-4" src="assets/img/institutional-recipe/general-de-salud/general-de-salud-logo.png">
    <p>
        En algunos casos se pudiera presentar por parte de la aseguradora el siguiente formato (autorización de servicios) para
        solicitud de medicamentos especializados.
    </p>
    <img class="mt-2 mb-2 img-fluid" src="assets/img/institutional-recipe/general-de-salud/current-prescription-format-1.jpg">
    <img class="mt-2 mb-2 img-fluid" src="assets/img/institutional-recipe/general-de-salud/current-prescription-format-2.jpg">
</div>