.pat-manual-ticket {
    height: 100%;
    img.logo{
      position: absolute;
      top: -80px;
      width: 80px;
    }
    h4 {
      color: #1a75cf;
    }
    img {
      width: 70px;
      cursor: pointer;
    }
  }
.title{
  font-size: 1.4rem;
}
.field-input{
  font-size: 12px;
  width: 24.4rem;
}