<div class="pl-2 pr-2">
    <img
    class="mt-4 mb-4"
    src="assets/img/institutional-recipe/axa/axa-logo.png">
    <p color="primary">Solo se deben surtir los siguientes formatos:</p>
    <p>-Formatos de color morado (electrónicos y manuales llenados con letra de molde)</p>
    <p>- Debe ser un formato autorizado con el logotipo de AXA y de la institución bancaria o de gobierno a la que pertenece el
    DHB según su credencial. (NO ACEPTAR FOTOCOPIAS)</p>
    <p>- Que el DHB presente la credencial de su servicio médico en original y una identiﬁcación con fotografía que lo acredite
    como DHB o beneﬁciario.</p>    
    <p>- Que el formato tenga todos los campos debidamente requisitados.</p>
    <img src="assets/img/institutional-recipe/axa/recipe-to-fill-1.png">
</div>