.return-reason{
    .alert-message{
        font-size: 14px;
    }
    .alert-icon{
        font-size: 20px;
    }
    .subtitle{
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 24px;
    }
    .title{
        font-size: 19px;
        letter-spacing: 0.26px;
        line-height: 22px;
        font-weight: bold;
    }
    .bold{
        font-weight: bold;
    }
    .mat-button{
        width: 12rem;
        height: 40px;
    }
    .mat-input-element{
        color: black;
    }
}