<div class="container validation-confirmation">
    <div class="row">
        <div class="col-md-12">
            <p class="d-flex justify-content-center mt-4 mb-4 pt-2 title" color="primary">
                Sistema de Valicación Electrónica
            </p>
            <div class="d-flex justify-content-center">
                <img src="assets/img/institutional-recipe/icon/check-circle.png" alt="">
            </div>
        </div>
        <div class="col-md-10 offset-md-1">
            <p class="d-flex justify-content-center mt-4 mb-4 subtitle text-center">
                Proceso de validación completo. Para cerrar esta ventana, haz clic en el botón de finalizar.
            </p>
        </div>
        <div class="col-md-12">
            <div class="d-flex justify-content-center mt-4">
                <button mat-flat-button color="primary" class="mat-button finish"
                    (click)="closeDialog()">
                    Finalizar proceso
                </button>
            </div>
        </div>
    </div>
</div>