<div class="d-flex justify-content-center">
    <div class="cnt-animation">
        <img src="assets/img/pat/scanner-animation/pill.svg" class="img-anim-1">
        <div class="dot-anim">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot fade_out_dot"></div>
        </div>
        <img src="assets/img/pat/scanner-animation/ticket.svg" class="img-anim-1">
        <div class="dot-anim">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot fade_out_dot"></div>
        </div>
        <img src="assets/img/pat/scanner-animation/tick.svg" class="img-anim-1">
    </div>
</div>