.return-scanner{
    .subtitle{
        font-size: 16px;
        color: #414141;
        letter-spacing: 0.5px;
        line-height: 24px;
    }
    .title{
        font-size: 19px;
        letter-spacing: 0.26px;
        line-height: 22px;
        font-weight: bold;
    }
    .bold{
        font-weight: bold;
    }
    .mat-button{
        width: 168px;
        height: 40px;
    }
    .mat-form{
        width: 360px;
        font-size: 12px;
    }
    .btn.scanner{
        height: 40px;
    }
}