<div class="pl-2 pr-2">
    <img class="mt-4 mb-4" src="assets/img/institutional-recipe/axa/axa-logo.png">
    <p color="primary">Formatos autorizados morados actuales. La farmacia podrá validar lo siguiente:</p>
    <p>1.- Receta electrónica, FORMATO DE FARMACIA</p>
    <p>2.- Datos del paciente (nombre, especialidad, institución bancaria, ﬁrma, fecha de consulta y diagnóstico (DXS. CIE 10)</p>
    <p>3.- Datos del médico (nombre, especialidad, clave y ﬁrma).</p>
    <p>4.- Datos de farmacia (nombre del medicamento, clave del proveedor, código EAN, datos llenados por farmacia).</p>
    <img src="assets/img/institutional-recipe/axa/special-authorization-1.png" class="mb-3 mt-1">
    <p>NOTA: Por cada medicamento enl formato contará con una “autorización especial”, dicha autorización es generada por el
    médico.
    <p>
        La autorización que solicitan al Call Center por montos no cambia. Lo deben en “Autorización Especial”
    </p>
</div>