<div class="pl-2 pr-2">
    <img class="mt-4 mb-4" src="assets/img/institutional-recipe/axa/axa-logo.png">
    <p>
        Favor de tomar atención en la ﬁcha de AXA con el subcliente de Condusef estarán circulando formatos de expediente
        clínico electrónico sin holograma de autenticidad, ya que en su lugar contarán con una marca termocrómaticas con ello
        solicitamos de su apoyo para realizar la correcta recepción de dichos formatos (con holograma y sin holograma), y así
        mismo brindar la atención a los derechohambientes de manera habitual.
    </p>
    <img src="assets/img/institutional-recipe/axa/hologram-format-1.png" class="img-fluid">
    <img src="assets/img/institutional-recipe/axa/hologram-format-2.jpg" class="img-fluid">
</div>