.row.grey300{
    height: 80px;
    .mat-icon{
        font-size: 70px;
    }
}
.loading{
    height: 250px;
}
.title{
    font-size: 12px;
}
.input-data{
    font-size: 12px;
}
.medical-name{
    font-size: 24px !important;
    height: 64px;
}
.welcome{
    font-size: 16px;
}
.hour-title, .date-title{
    font-size: 10px !important;
}
.hour, .date{
    font-size: 24px !important;
    font-weight: 600;
}
.history{
    font-size: 18px !important;
}
.action-btn{
    height: 40px;
}
.medics h4, .in-check-hour{
    font-size: 18px !important;
    font-weight: 500;
    color: black;
}

.in-check{
    height: 56px;
}
.check{
    color: #66C455;
    font-size: 12px;
}
.isEven{
    background-color: #F6F6F6;
}
.text-disabled{
    color: #BDBDBD !important;
}
.header{
    background-color: #F6F6F6;
}
.header-icon{
    font-size: 40px;
}
.close-register.btn{
    font-size: 9px;
}