.title{
    font-size: 16px !important;
}
.medicine-name{
    font-size: 24px !important;
    font-weight: 800 !important;
}
.medicine-description{
    font-size: 14px !important;
}
.header{
    background-color: #DBEBFA;
}
.text-item{
    font-size: 12px;
}
.text-title{
    font-weight: 100;
}
.mini-logo{
    width: 20px;
}