.sw-update{
    .title-dialog{
        font-size: 19px !important;
        font-weight: 800;
    }

    .subtitle-dialog{
        font-size: 16px;
    }

    button.dialog{
        width: 232px;
        height: 48px;
    }
}