<div class="pl-2 pr-2">
    <img class="mt-4 mb-4" src="assets/img/institutional-recipe/axa/axa-logo.png">
    <p color="primary">VALIDACIONES IMPORTANTES DE UNA RECETA</p>
    <p>1.-Clave de Médico y su Nombre</p>
    <p>2.-Firma de Médico</p>
    <p>3.-Número de Autorización</p>
    <p>4.-Clave de Diagnóstico</p>
    <p>5.-Solo Recetas con letra "A" o "B"</p>
    <p>6.-Clave Completada según su Identiﬁcación</p>
    <p>7.-Nombre del Paciente concuerde con identiﬁcación</p>
    <p>8.-Fecha No supere al día de Servicio y no supere el Límite indicado en Receta </p>
    <p>9.-Frotar en donde se indica, esta debe de cambiar de color</p>
    <img class="mt-2 mb-2" src="assets/img/institutional-recipe/axa/important-validations-2.png" class="img-fluid">
    <img class="mt-2 mb-2" src="assets/img/institutional-recipe/axa/important-validations-1.jpg" class="img-fluid">
    <img class="mt-2 mb-2" src="assets/img/institutional-recipe/axa/important-validations-3.jpg" class="img-fluid">
    <img class="mt-2 mb-2" src="assets/img/institutional-recipe/axa/important-validations-4.jpg" class="img-fluid">
</div>