<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center title mb-4 mt-5">
            Nuestras promociones
        </div>
    </div>
    <div class="row" *ngIf="!promotionsLoaded">
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
        <div class="col-md-4">
            <app-skeleton-placeholder-promotions></app-skeleton-placeholder-promotions>
        </div>
    </div>
    <div>
        <div class="container">
        </div>
    </div>
</div>
<app-promotions-card [promos-param]="promotions" class="mt-4 mb-4 pb-5"></app-promotions-card>