.back-button{
  width: 2.5rem !important;
}
.title{
    color: #1A75CF;
    font-size: 1.4rem !important;
}
.subtitle{
    font-size: 0.8rem !important;
    font-weight: 100;
}
.progress-img{
    width: 450px;
}
.terms-conditions{
    width: 35.4rem;
    height: 15.8rem;
}
.validate-btn{
width: 8.1rem;
}