<div class="container mb-5 shopping-basket">
    <div class="row">
        <div class="col-md-9 pl-0 mt-4 pr-0">
            <div class="top d-flex align-items-center">
                <div class="col-7">
                    <p>Estos son los productos que has agregado al carrito de compras.</p>
                </div>
                <div class="col-3 offset-md-2">
                    <!-- <button class="ml-3 mr-3 register-prescription" 
                            mat-button 
                            color="primary"
                            disabled>
                        Registrar receta
                    </button> -->
                </div>
            </div>
            <app-list-view-shopping-basket></app-list-view-shopping-basket>
        </div>
        <div class="col-md-3 d-flex flex-column align-items-end mt-4">
            <mat-card class="example-card resume-cost border-bottom border shadow-none">
                <mat-card-header class="resume-title border-bottom">
                    <mat-card-title>
                        <mat-icon class="resume-title">attach_money</mat-icon> Resumen y costos
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="resume-text mt-3">
                    <div class="row mb-2">
                        <div class="col-md-7">
                            <span class="ml-2">
                                RESUMEN:
                            </span>
                        </div>
                        <div class="col-md-5">
                            ${{ shoppingBasketTotal }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-7">
                            <span class="ml-2">
                                DESCUENTOS:
                            </span>
                        </div>
                        <div class="col-md-5">
                            $0.00
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-7">
                            <span class="ml-2">
                                BONIFICACIÓN:
                            </span>
                        </div>
                        <div class="col-md-5">
                            $0.00
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-7">
                            <span class="ml-2">
                                MONTO A PAGAR:
                            </span>
                        </div>
                        <div class="col-md-5">
                            ${{ shoppingBasketTotal }}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <div class="row">
                <div [class]="currentTheme">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center align-items-center mt-3">
                            <button class="delete-all" 
                                    mat-stroked-button 
                                    color="primary"
                                    (click)="emptyShoppingBasket()">
                                <i class="ic_material mr-1 delete">delete</i> Vaciar canasta
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="d-flex justify-content-center">
                            <button class="m-3 delete-all shadow-none" 
                                    mat-raised-button 
                                    color="accent" 
                                    (click)="makeOrder()">
                                Realizar pedido
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row {{ currentTheme }}">
            </div>
        </div>
    </div>
</div>