<div class="pl-2 pr-2 recipe-data-validation">
    <img class="mt-4 mb-4" src="assets/img/institutional-recipe/axa/axa-logo.png">
    <p color="primary">Formato</p>
    <p>
        No se surtirán más de 3 medicamentos iguales por receta y se debe de tomar en cuenta que en caso de que el médico
        solicite un número mayor de piezas a los autorizados por el cliente tendrá que solicitar autorización al CAT.
    </p>
    <div class="row">
        <div class="col-md-7">
            <img src="assets/img/institutional-recipe/axa/validation-recipe-1.png">
        </div>
        <div class="col-md-5 info-text">
            <p color="primary">1. <span>Número de autorización</span>
            </p>
            <p color="primary">1.1 <span>Autorización especial de médico 2do contacto</span></p>
            <p color="primary">1.2 <span>Fecha en la que se realizo la consulta</span></p>
            <p color="primary">2. <span>Nombre completo del médico</span></p>
            <p color="primary">3. <span>Especialidad</span></p>
            <p color="primary">4. <span>Clave del médico</span></p>
            <p color="primary">5. <span>Firma del médico</span></p>
            <p color="primary">6. <span>Nómina del paciente o beneficiario</span></p>
            <p color="primary">7. <span>Nombre completo del paciente</span></p>
            <p color="primary">8. <span>Nombre del médicamento</span></p>
            <p color="primary">9. <span>Presentación, cantidad y gramaje del medicamento</span></p>
            <p color="primary">10. <span>Clave ICD del diagnostico de acuerdo al medicamento prescrito</span></p>
            <p color="primary">11. <span>Indicaciones médicas</span></p>
            <p color="primary">12. <span>Firma de conformidad del derechohambiente de canjeo de medicamentos</span></p>
            <p color="primary">13. <span>Indicaciones médicas</span></p>
            <p color="primary">14. <span>Firma de conformidad del derechohabiente de canjeo de medicamentos</span></p>
        </div>
    </div>
</div>