<carousel interval="5000" class="d-flex justify-content-center banner slider">
  <slide>
    <img class="img-fluid" src="assets/img/home/mueble_invernal.png" alt="Image">
  </slide>
  <slide>
    <a href="https://teams.wal-mart.com/sites/comunica/farmacia/Documentos%20compartidos/2_Comunicados/Descuento%205%25%20Pago%20Directo%20a%20empresa%20afiliadas%20AXA%20ASSISTANCE.pdf" 
      target="_blank">
      <img class="img-fluid" src="assets/img/home/banner_axxa.png" alt="Image">
    </a>
  </slide>
  <slide>
    <img class="img-fluid" src="assets/img/home/10.png" alt="Image">
  </slide>
  <slide>
    <img class="img-fluid" src="assets/img/home/2.png" alt="Image">
  </slide>
  <slide>
    <img class="img-fluid" src="assets/img/home/3.png" alt="Image">
  </slide>
  <slide>
    <img class="img-fluid" src="assets/img/home/6.png" alt="Image">
  </slide>
  <slide>
    <img class="img-fluid" src="assets/img/home/8.png" alt="Image">
  </slide>
</carousel>