<div class="container return-confirmation">
    <div class="row">
        <div class="col-md-12">
            <p class="d-flex justify-content-center mt-4 mb-4 pt-2 title" color="primary">
                Sistema de devolución de medicamentos
            </p>
            <div class="d-flex justify-content-center">
                <img src="assets/img/institutional-recipe/icon/check-circle.png" alt="">
            </div>
        </div>
        <div class="col-md-10 offset-md-1">
            <p class="d-flex justify-content-center mt-4 mb-2 subtitle text-center">
                Proceso completo de devolución terminado. Ya puedes realizar nuevamente la validación y surtimiento de los medicamentos
            </p>
        </div>
        <div class="col-md-12">
            <div class="d-flex justify-content-center mt-4 pt-2">
                <button mat-flat-button color="primary" class="mat-button finish" (click)="closeDialog()">
                    Finalizar devolución
                </button>
            </div>
        </div>
    </div>
</div>