<div class="row m-0">
    <div (click)="close()" class="col mt-2 text-right">
      <img class="px-2" style="cursor: pointer;" src="assets/icon/close.png" alt="Close">
    </div>
  </div>
  <div class="row px-5 pb-5 pt-3 align-items-center">
    <div class="col text-center">
      <h1 class="mb-4">Escanea el ticket</h1>
      <img src="assets/icon/scan-ticket.png" alt="Scan Ticket">
    </div>
  </div>
  <div class="row m-4">
      <div class="col text-center">
          <button tabindex="-1" (click)="manual()" mat-stroked-button color="primary"> Escanear ticket manualmente</button>
      </div>
  </div>